.upload-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #00111e, #000);
  font-family: "Poppins", sans-serif;
}

.dropzone {
  width: 70%;
  height: 300px;
  border: 2px dashed #00eaff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  background: rgba(0, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  color: white;
  cursor: pointer;
  box-shadow: 0 0 25px rgba(0, 238, 255, 0.25);
}

.drag-active {
  background: rgba(0, 255, 255, 0.25);
  box-shadow: 0 0 45px #00eaff;
}

.upload-icon {
  font-size: 48px;
  color: #00eaff;
  text-shadow: 0 0 15px #00eaff;
  margin-bottom: 15px;
}

.dz-title {
  font-size: 20px;
  font-weight: 600;
}

.dz-sub {
  font-size: 13px;
  opacity: 0.7;
  margin-top: 5px;
}

.neon-button {
  margin-top: 20px;
  padding: 15px 30px;
  border-radius: 12px;
  background: linear-gradient(90deg, #0028ff, #00eaff);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;
  text-shadow: 0 0 10px white;
  box-shadow: 0px 0px 15px #00eaff;
}

.neon-button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 25px #00eaff;
}

.choose-btn {
  margin-top: 15px;
  width: 200px;
}

.analyze-btn {
  width: 220px;
  margin-top: 25px;
}
