.upload-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #001028, #000);
}

.drop-card {
  width: 65%;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  border: 2px dashed #00eaff;
  background: rgba(0, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  transition: 0.3s ease;
  animation: fadeIn 0.8s ease-in-out;
  box-shadow: 0 0 25px rgba(0, 229, 255, 0.4);
}

.drop-card.active {
  border-color: #00eaff;
  box-shadow: 0 0 30px #00eaff;
  transform: scale(1.02);
}

.upload-icon {
  font-size: 48px;
  color: #00eaff;
  margin-bottom: 12px;
}

.browse-btn {
  display: inline-block;
  margin-top: 18px;
  padding: 12px 26px;
  border-radius: 12px;
  background: rgba(0, 225, 255, 0.3);
  border: 1px solid #00eaff;
  color: #00eaff;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.browse-btn:hover {
  background: #00eaff;
  color: black;
  box-shadow: 0 0 25px #00eaff;
}

.analyze-btn {
  margin-top: 25px;
  padding: 14px;
  width: 60%;
  background: linear-gradient(90deg, #007bff, #00eaff);
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s ease;
}

.analyze-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 30px #00eaff;
}

.file-name {
  margin-top: 10px;
  font-size: 15px;
  color: #77d7ff;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(25px); }
  to { opacity: 1; transform: translateY(0); }
}
