.upload-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at top, #0b192f, #000);
}

.glass-card {
  width: 450px;
  padding: 35px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 25px rgba(0, 217, 255, 0.4);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.title {
  color: #00eaff;
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 0 0 10px #00eaff;
}

.sub {
  color: #bcd5e0;
  font-size: 14px;
  margin-bottom: 25px;
}

.file-btn {
  display: inline-block;
  padding: 12px 22px;
  border-radius: 10px;
  background: rgba(0, 225, 255, 0.2);
  cursor: pointer;
  border: 1px solid #00eaff;
  color: #00eaff;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}

.file-btn:hover {
  background: rgba(0, 225, 255, 0.6);
  box-shadow: 0 0 20px #00eaff;
}

.analyze-btn {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background: linear-gradient(90deg, #006aff, #00eaff);
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.analyze-btn:hover {
  transform: scale(1.06);
  box-shadow: 0 0 20px #00eaff;
}

.file-name {
  margin-top: 10px;
  color: #77d7ff;
  font-size: 14px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
